h1{
    color: rgb(183, 7, 7);
}
h2{
    margin-top:-40px;
    margin-left: 400px;
    color: rgb(183, 7, 7);
    font-size: 30;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    color: rgb(183, 7, 7);
    text-align: center;
    font-size: 40px;
}
li{
    color: rgb(183, 7, 7);
    text-align: right;
    font-size: 50px;
    margin-right: 390px;
}
img.socks{
    height: 300px;
    width: 300px;
    margin-left: 540px;
    margin-top: -230px;
}
img.will{
    height: 150px;
    width: 150px;
}
p.wil{
    font-size: 30px;
    margin-left: 170px;
    margin-top: -100px;
    font-family: cursive;
    color: blueviolet;
}
img.rill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 24%;
}
p.ril{
    font-size: 30px;
    margin-left: 38%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(31, 152, 57);
}
img.till{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 48%;
}
p.til{
    font-size: 30px;
    margin-left: 62%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(214, 100, 100);
}
img.yill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 74%;
}
p.yil{
    font-size: 30px;
    margin-left: 88%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(253, 0, 0);
}
img.uill{
    height: 150px;
    width: 150px;
    margin-top: 50px;
}
p.uil{
    font-size: 30px;
    margin-left: 170px;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(16, 97, 96);
}
img.aill{
    height: 150px;
    width: 150px;
    margin-left: 24%;
    margin-top: -125px;
}
p.ail{
    font-size: 30px;
    margin-left: 38%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(214, 2, 182);
}
img.sill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 48%;
}
p.sil{
    font-size: 30px;
    margin-left: 62%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(196, 43, 43);
}
img.dill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 74%;
}
p.dil{
    font-size: 30px;
    margin-left: 88%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(153, 6, 6);
}
img.fill{
    height: 150px;
    width: 150px;
    margin-top: 50px;
}
p.fil{
    font-size: 30px;
    margin-left: 170px;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(3, 214, 31);
}
img.gill{
    height: 150px;
    width: 150px;
    margin-left: 24%;
    margin-top: -125px;
}
p.gil{
    font-size: 30px;
    margin-left: 38%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(10, 243, 247);
}
img.hill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 48%;
}
p.hil{
    font-size: 30px;
    margin-left: 62%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(171, 30, 30);
}
img.jill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 74%;
}
p.jil{
    font-size: 30px;
    margin-left: 88%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(229, 20, 128);
}
img.kill{
    height: 150px;
    width: 150px;
    margin-top: 50px;
}
p.kil{
    font-size: 30px;
    margin-left: 170px;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(244, 170, 9);
}
img.zill{
    height: 150px;
    width: 150px;
    margin-left: 24%;
    margin-top: -125px;
}
p.zil{
    font-size: 30px;
    margin-left: 38%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(53, 113, 242);
}
img.xill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 48%;
}
p.xil{
    font-size: 30px;
    margin-left: 62%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(209, 105, 41);
}
img.cill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 74%;
}
p.cil{
    font-size: 25px;
    margin-left: 88%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(178, 33, 231);
}
img.vill{
    height: 150px;
    width: 150px;
    margin-top: 50px;
}
p.vil{
    font-size: 30px;
    margin-left: 170px;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(160, 10, 173);
}
img.bill{
    height: 150px;
    width: 150px;
    margin-left: 24%;
    margin-top: -125px;
}
p.bil{
    font-size: 30px;
    margin-left: 38%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(255, 251, 11);
}
img.nill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 48%;
}
p.nil{
    font-size: 30px;
    margin-left: 62%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(101, 2, 137);
}
img.mill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 74%;
}
p.mil{
    font-size: 25px;
    margin-left: 88%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(4, 214, 18);
}
img.oill{
    height: 150px;
    width: 150px;
    margin-top: 50px;
    margin-left: 18%;
}
p.oil{
    font-size: 30px;
    margin-left: 32%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(6, 205, 219);
}
img.pill{
    height: 150px;
    width: 150px;
    margin-top: -126px;
    margin-left: 68%;
}
p.pil{
    font-size: 30px;
    margin-left: 82%;
    margin-top: -100px;
    font-family: cursive;
    color: rgb(54, 3, 208);
}
h4{
    font-size: 100px;
    text-align: center;
    color: rgb(183, 7, 7);
}
img.qll{
    width: 500px;
    height: 600px;
    margin-left: 31%;
    margin-top: -140px;
}
